<div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti molestias facere voluptatibus iste, consequatur nam reiciendis tenetur perspiciatis ut excepturi ipsam rem perferendis cumque recusandae provident, accusantium omnis dolorum dignissimos.</textarea>
    <label for="floatingTextarea2">Comments</label>
  </div>
  <div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed aperiam aliquid dignissimos autem iste omnis ipsa eum culpa incidunt, molestias, harum quis neque dolor. Id voluptas beatae commodi labore sint?</textarea>
    <label for="floatingTextarea2">Comments</label>
  </div>
  <div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, ex. Officiis adipisci voluptatum ut fugiat atque! Architecto, obcaecati vero excepturi deleniti unde, officiis corrupti voluptatibus facilis explicabo accusamus ipsam molestiae.</textarea>
    <label for="floatingTextarea2">Comments</label>
  </div>
  <div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum a quaerat commodi quo! Excepturi, labore repellendus. Dolorem, labore, iure dolores incidunt fuga tenetur culpa corrupti voluptas eum sapiente, quod beatae.</textarea>
    <label for="floatingTextarea2">Comments</label>
  </div>
