<div class="row">
    <div data-v-d3a518a6="" data-v-c93e1c70="" class="data col">
      <!----> 
      <div data-v-d3a518a6="" class="data-set">
        <div data-v-d3a518a6="" class="type">Format</div> 
        <div data-v-d3a518a6="" class="value">Papierowa</div>
      </div> <!----> <!----> <!----> <!----> 
      <div data-v-d3a518a6="" class="data-set">
        <div data-v-d3a518a6="" class="type">Premiera</div> 
        <div data-v-d3a518a6="" class="value">February 22, 2023</div>
      </div> 
      <div data-v-d3a518a6="" class="data-set">
        <div data-v-d3a518a6="" class="type">Ilość Stron</div> 
        <div data-v-d3a518a6="" class="value">123124</div>
      </div> 
      <div data-v-d3a518a6="" class="data-set">
        <div data-v-d3a518a6="" class="type">ISBN</div> 
        <div data-v-d3a518a6="" class="value">1231231523532572</div>
      </div> 
      <div data-v-d3a518a6="" class="data-set">
        <div data-v-d3a518a6="" class="type">Wydawca</div> 
        <div data-v-d3a518a6="" class="value">Insignis</div>
      </div> <!----> <!----> <!----> 
      <div data-v-d3a518a6="" class="el-tooltip data-set" aria-describedby="el-tooltip-4802" tabindex="0">
        <div data-v-d3a518a6="" class="type">Średnia Ocena</div> 
        <div data-v-d3a518a6="" class="value">83%</div>
      </div> 
      <div data-v-d3a518a6="" class="data-set">
        <div data-v-d3a518a6="" class="type">Przeczytało</div>
        <div data-v-d3a518a6="" class="value">6930</div>
        </div> 
        <div data-v-d3a518a6="" class="data-set">
          <div data-v-d3a518a6="" class="type">Ulubione</div> 
          <div data-v-d3a518a6="" class="value">450</div>
        </div> 
        <div data-v-d3a518a6="" class="data-set">
          <div data-v-d3a518a6="" class="type">Porzuciło</div> 
          <div data-v-d3a518a6="" class="value">450</div>
        </div>
        <!----> <!----> 
        <!----> 
        <div data-v-d3a518a6="" class="data-set data-list">
          <div data-v-d3a518a6="" class="type">Garunki</div> 
          <div data-v-d3a518a6="" class="value"><span data-v-d3a518a6="">
            <a data-v-d3a518a6="" href="/search/manga/Adventure" class="">Przygoda</a>
            <br data-v-d3a518a6=""></span><span data-v-d3a518a6="">
              <a data-v-d3a518a6="" href="/search/manga/Comedy" class="">Komedia</a>
              <br data-v-d3a518a6=""></span><span data-v-d3a518a6="">
                <a data-v-d3a518a6="" href="/search/manga/Fantasy" class="">Dramat</a><!----></span>
              </div>
              </div>
                <div data-v-d3a518a6="" class="data-set">
                  <div data-v-d3a518a6="" class="type">English</div> 
                  <div data-v-d3a518a6="" class="value">The Witcher</div>
                </div> <div data-v-d3a518a6="" class="data-set">
                  <div data-v-d3a518a6="" class="type">Native</div> 
                  <div data-v-d3a518a6="" class="value">Wiedźmin</div>
                </div> <div data-v-d3a518a6="" class="data-set data-list">
                  <div data-v-d3a518a6="" class="type">Inne Nazwy</div> 
                  <div data-v-d3a518a6="" class="value">
                    <span data-v-d3a518a6="">The Hexer<br data-v-d3a518a6=""></span>
                    <span data-v-d3a518a6="">Ich libe dich <br data-v-d3a518a6=""></span>
                  <span data-v-d3a518a6="">史诗级领地设计师<br data-v-d3a518a6=""></span>
                  <span data-v-d3a518a6="">ยอดสถาปนิกผู้พิทักษ์อาณาจักร<!----></span>
      </div>
    </div>
    </div>
  </div>